* {
  margin: 0;
  padding: 0;
  font-family: Fenix;
}

@font-face {
  font-family: Fenix;
  src: url(../fonts/Fenix/Fenix-Regular.ttf);
}
@font-face {
  font-family: finger paint;
  src: url(../fonts/fingerPaint/FingerPaint-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/monsterrat/Montserrat-Regular.otf);
}
.sayt {
  overflow: hidden;
  max-width: 1920px;
  width: 100%;
  margin: auto;
}
.sayt > .home {
  background: url(../images/home1.png) no-repeat center center/cover;
}
.sayt > .header__facilities {
  background: url(../images/facilities1.png) no-repeat center center/cover;
}
.sayt > .header__contact {
  background: #b7904b;
  overflow: hidden;
}
.sayt > .header__contact > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  /* identical to box height */
  color: #e5e5e5;
  text-align: center;
  margin-top: 162px;
  margin-bottom: 68px;
}
.sayt > .header__rooms {
  background: url(../images/rooms1.png) no-repeat center center/cover;
}
.sayt > .header > .header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sayt > .header > .header__top > .header__top__icon {
  width: 300px;
  text-align: center;
  padding: 35px;
  background: #14274a;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  box-sizing: border-box;
}
.sayt > .header > .header__top > .header__top__icon > h3 {
  color: #e0b973;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.15em;
}
.sayt > .header > .header__top > .header__top__icon > h5 {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.6em;
  margin-top: 13px;
  color: #e0b973;
  font-family: finger paint;
}
.sayt > .header > .header__top > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 27px;
}
.sayt > .header > .header__top > ul > li {
  width: 138px;
  height: 30px;
  list-style: none;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.sayt > .header > .header__top > ul > li > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}
.sayt > .header > .header__top > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.4470588235);
}
.sayt > .header > .header__text {
  max-width: 1668px;
  width: 90%;
  margin: auto;
  padding-top: 247px;
  padding-bottom: 137px;
}
.sayt > .header > .header__text > h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  /* identical to box height */
  color: #ffffff;
}
.sayt > .header > .header__text > h1 {
  font-family: "Fenix";
  font-style: normal;
  font-weight: 400;
  font-size: 154px;
  letter-spacing: 0.07em;
  color: #e0b973;
}
.sayt > .header > .header__text > h3 {
  font-family: "Fenix";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  /* identical to box height */
  letter-spacing: 0.4em;
  color: #e0b973;
}
.sayt > .header > .header__text > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  max-width: 580px;
  letter-spacing: 0.1em;
  margin-top: 22px;
  color: #ffffff;
}
.sayt > .header > .header__bottom {
  text-align: center;
}
.sayt > .header > .header__bottom > button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 387px;
  width: 95%;
  height: 78px;
  background: #14274a;
  border-radius: 15px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #e0b973;
}
.sayt > .header > .header__bottom > button > img {
  margin-right: 18px;
}
.sayt > .header > .header__bottom > img {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 23px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-animation: shadow 1s infinite linear;
          animation: shadow 1s infinite linear;
}
@-webkit-keyframes shadow {
  0% {
    box-shadow: 0px 0px 2px #ffffff;
  }
  25% {
    box-shadow: 0px 0px 5px #ffffff;
  }
  50% {
    box-shadow: 0px 0px 10px #ffffff;
  }
  75% {
    box-shadow: 0px 0px 15px #ffffff;
  }
  100% {
    box-shadow: 0px 0px 20px #ffffff;
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 2px #ffffff;
  }
  25% {
    box-shadow: 0px 0px 5px #ffffff;
  }
  50% {
    box-shadow: 0px 0px 10px #ffffff;
  }
  75% {
    box-shadow: 0px 0px 15px #ffffff;
  }
  100% {
    box-shadow: 0px 0px 20px #ffffff;
  }
}
.sayt > .header > .header__bottom > .aylan {
  transform: rotate(180deg);
}
.sayt > .homePage {
  padding-top: 103px;
}
.sayt > .homePage > h3 {
  margin-bottom: 53px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  /* identical to box height */
  color: #14274a;
}
.sayt > .homePage > .homePage__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 69px;
}
.sayt > .homePage > .homePage__block > .homePage__block__card {
  max-width: 864px;
  width: 95%;
  margin: 20px;
  margin-top: 20px;
}
.sayt > .homePage > .homePage__block > :nth-child(1) {
  max-width: 542px;
  width: 95%;
  margin-top: 20px;
}
.sayt > .homePage > .homePage__block > :nth-child(1) > h2 {
  font-family: "Fenix";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #14274a;
}
.sayt > .homePage > .homePage__block > :nth-child(1) > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  /* or 160% */
  color: #14274a;
  margin-top: 30px;
}
.sayt > .homePage > button {
  display: block;
  margin: auto;
  margin-top: 34px;
  margin-bottom: 59px;
  width: 236px;
  height: 63px;
  background: #e0b973;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #14274a;
  border: none;
  border-radius: 15px;
}
.sayt > .facilities {
  padding-top: 82px;
  padding-bottom: 45px;
  background: #f7f7f7;
}
.sayt > .facilities > h2 {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  color: #14274a;
}
.sayt > .facilities > p {
  max-width: 1540px;
  width: 95%;
  margin: auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-top: 34px;
  color: #14274a;
}
.sayt > .facilities > .facilities__card {
  max-width: 1580px;
  width: 95%;
  margin: auto;
  margin-top: 82px;
  margin-bottom: 104px;
  display: flex;
  flex-direction: column;
}
.sayt > .facilities > .facilities__card > img {
  width: 100%;
}
.sayt > .facilities > .facilities__card > h2 {
  max-width: 684px;
  width: 95%;
  height: 75px;
  margin: auto;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  background-color: #f7f7f7 !important;
  color: #e0b973;
  margin-top: -75px;
  padding-top: -75px;
  z-index: 2;
}
.sayt > .rooms {
  padding-top: 81px;
  padding-bottom: 135px;
}
.sayt > .rooms > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  color: #14274a;
}
.sayt > .rooms > p {
  max-width: 1304px;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  color: #14274a;
}
.sayt > .rooms > .rooms__room {
  max-width: 1602px;
  width: 95%;
  margin: auto;
  margin-top: 81px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #ffffff;
  border: 2px solid #14274a;
  overflow: hidden;
}
.sayt > .rooms > .rooms__room > .owl-carousel {
  position: relative;
}
.sayt > .rooms > .rooms__room > .owl-carousel > .owl-stage-outer > .owl-stage {
  max-height: 926px;
}
.sayt > .rooms > .rooms__room > .owl-carousel > .owl-dots {
  max-width: 1602px;
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 1%;
}
.sayt > .rooms > .rooms__room > .owl-carousel > .owl-dots > .owl-dot > span {
  width: 20px;
  height: 20px !important;
  margin: 10px !important;
  background-color: transparent !important;
  border: 1px solid #ffffff;
}
.sayt > .rooms > .rooms__room > .owl-carousel > .owl-dots > .active > span {
  background: #ffffff !important;
}
.sayt > .rooms > .rooms__room > .rooms__room__type {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  background: #14274a;
  padding-top: 41px;
  padding-bottom: 41px;
  color: #ffffff;
  text-align: center;
}
.sayt > .rooms > .rooms__room > .rooms__room__view {
  padding-top: 59px;
  padding-bottom: 78px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sayt > .rooms > .rooms__room > .rooms__room__view > h3 {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
  color: #14274a;
}
.sayt > .rooms > .rooms__room > .rooms__room__view > h3 > i {
  margin-right: 40px;
  color: #e0b973;
  font-size: 51px;
}
.sayt > .rooms > .rooms__room > .rooms__room__view > button {
  margin: 10px;
  margin-top: 20px;
  width: 288px;
  height: 78px;
  border: none;
  background: #e0b973;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
}
.sayt > .contact {
  max-width: 1510px;
  margin: auto;
  padding: 10px;
  padding-top: 260px;
  padding-bottom: 531px;
}
.sayt > .contact > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  /* identical to box height */
  color: #14274a;
}
.sayt > .contact > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #14274a;
}
.sayt > .contact > .forma {
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sayt > .contact > .forma > div {
  max-width: 565px;
  width: 100%;
  margin-bottom: 60px;
}
.sayt > .contact > .forma > div > h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  margin-top: 10px;
  color: #14274a;
}
.sayt > .contact > .forma > div > a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-decoration: none;
  color: #14274a;
  margin-top: 28px;
  margin-bottom: 54px;
  display: block;
}
.sayt > .contact > .forma > form {
  max-width: 570px;
  width: 95%;
}
.sayt > .contact > .forma > form > label {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  /* identical to box height */
  color: #14274a;
}
.sayt > .contact > .forma > form > input {
  background: #f7f7f7;
  border: 2px solid rgba(20, 39, 74, 0.5);
  border-radius: 10px;
  max-width: 570px;
  width: 100%;
  display: block;
  height: 78px;
  margin-top: 8px;
  margin-bottom: 30px;
  font-size: 35px;
  box-sizing: border-box;
  padding: 10px;
}
.sayt > .contact > .forma > form > :nth-child(6) {
  height: 352px;
}
.sayt > .contact > .forma > form > button {
  width: 145px;
  height: 78px;
  margin-top: 22px;
  float: right;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #f7f7f7;
  background: #e0b973;
  border-radius: 15px;
  border: none;
}
.sayt > .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #14274a;
  color: #ffffff;
  padding-top: 38px;
  padding-bottom: 66px;
}
.sayt > .footer > .footer__contacts {
  margin: 38px;
  width: 185px;
}
.sayt > .footer > .footer__contacts > h3 {
  font-family: "Fenix";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.15em;
  color: #e0b973;
}
.sayt > .footer > .footer__contacts > h5 {
  font-family: "Finger Paint";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.6em;
  margin-bottom: 22px;
  color: #e0b973;
  margin-left: 28px;
}
.sayt > .footer > .footer__contacts > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
  color: #ffffff;
}
.sayt > .footer > .footer__links {
  margin: 38px;
  display: flex;
  flex-direction: column;
}
.sayt > .footer > .footer__links > a {
  text-decoration: none;
  color: #f7f7f7;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 22px;
}
.sayt > .footer > .footer__links > a > i {
  margin-right: 26px;
}
.sayt > .footer > form {
  margin: 38px;
}
.sayt > .footer > form > h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  margin-bottom: 30px;
  color: #ffffff;
}
.sayt > .footer > form > input {
  width: 278px;
  height: 50px;
  border: 2px solid #e0b973;
  background: transparent;
  padding-left: 25px;
  box-sizing: border-box;
}
.sayt > .footer > form > input::-moz-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  margin-left: 25px;
  color: #ffffff;
}
.sayt > .footer > form > input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  margin-left: 25px;
  color: #ffffff;
}
.sayt > .footer > form > input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  margin-left: 25px;
  color: #ffffff;
}
.sayt > .footer > form > button {
  width: 80px;
  height: 50px;
  margin-top: 1px;
  border: 2px solid #e0b973;
  background: #e0b973;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* identical to box height */
  box-sizing: border-box;
  color: #14274a;
}
.sayt > .page {
  transform: translateY(-100%);
  display: none;
}
.sayt > .ochiq {
  display: block;
  transform: translate(0);
  transition: all 2s;
}/*# sourceMappingURL=style.css.map */